*~
*.swp
.DS_Store
*.retry
*.log
*.ova
vagrant-ssh
.vagrant
RELEASENOTES.txt
docs/_build
resources/*/*.png
tmp.vdi
tmp.vmdk
.vscode/
.tox/
dist/
_archive

# roles & dependencies
roles/marvel-nccr*
roles/gantsign*
roles/geerlingguy*

# For as long as we do not use fixed tags, this is important to commit
!roles/marvel-nccr.siesta
!roles/marvel-nccr.aiida
!roles/marvel-nccr.conda-codes

